.lab-supplements-list{
    margin-bottom: 20px;
    border: 1px solid #aaa;
}
.lab-files-container{
    padding: 10px 10px 0;
}
.lab-expected-application-supplement-header{
    display: flex;
    background-color: #f5f5f5;
    margin: 6px 0;
    padding: 0 4px;
}
.lab-header-name{
    flex: 1 1 auto;
}
.lab-header-status-text{
    font-variant: small-caps;
}
.lab-expected-supplement-settings{
    margin-bottom: 5px;
    /* border-top: 1px solid #ddd; */
    /* padding-top: 5px; */
}
.lab-warning {
    background: #fffbf2;
    border: 1px solid #fffbf2;
    color: #cc9600
}
.lab-total-status{
    padding: 5px 0;
}
.lab-total-status-text{
    font-weight: bold;
}
.lab-total-status-text.red{
    color: red;
}
.lab-open{
       
}
.lab-open-date{
    display: inline-block;
    font-variant: normal;
    font-weight: normal;
    float: right;
}
.lab-open-date.passed{
    color: #999
}
.lab-open-status{
    margin:6px 2px 0 0;
    flex: 0 0 auto;
    font-style: italic;
}
.lab-open-status-icon{
    display: inline-block;
    width: 22px;
    position: absolute;
    top: -1px;
}
.lab-open-status-text{
    padding-left: 26px;
}
.lab-info-from-user-list{
    margin: 0;
    padding-left: 0px;
    list-style: none;
    line-height: 16px;
}
.lab-info-from-user-inline-display{
    max-width: 500px;
    display:flex; 
    flex-direction:row; 
    justify-content:space-between; 
    line-height:16px;
    margin:6px 0;
}
.lab-info-from-user-inline-display:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.lab-info-from-user-text{
    margin-left: 5px;
    padding: 2px 4px 2px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.lab-info-from-user-text.passed{
    color: #999;
}
.lab-info-from-user-sender{
    display: inline-block;
    font-variant: small-caps;
}
.lab-info-from-user-menu{
    border: none !important;
}
.lab-hourglass{
    display: inline-block;
}
.lab-extended-reply-button{
    margin:4px
}
.lab-tools{
    margin: 10px;
}
.lab-button{
    /* margin: 10px; */
    display: inline-block;
}
.lab-button.hidden{
    visibility: hidden;
    display: none;
}    
.lab-button-text{
    display: inline-block;
}
.lab-separator{
    display: inline-block;
    width: 1px;
    height: 16px;
    margin-bottom: -4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.lab-arrow{
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 2px;
    border-radius: 1px;
    transform: rotate(45deg) translateY(2px);
    -webkit-transform: rotate(45deg);
}
.rolldown-button{
    border-top: solid #FFF 1px;
    padding-top: 4px;
    margin-top: 6px;
    display: none;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 420px;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}










.lab-files-container .files-cell {
    position:relative;
 }
 .lab-files-container .header {background-color:#ffffd0;border-bottom:1px solid #aaa;padding:5px;}
 .lab-files-container .header .name {font-weight:bold;font-size:13px;color:#000;}
 .lab-files-container .header .name span.extended-supplement-date {font-size:11px;margin-left:10px;color:#666;font-style:italic;}
 .lab-files-container .header .links {float:right;color:#000;}
 .lab-files-container .header .links a {color:#222;}
 .lab-files-container .content {padding:5px;}
 .lab-files-container .content .info {padding:10px 5px 5px 5px;display:inline-block;vertical-align:top;}
 
 .lab-files-container .content .files {padding:10px 5px 5px 5px;}
 
 .files-actions {
    font-size:11px;
    margin-bottom:3px;
 }
 .files-actions a {
    color:#999;
 }
 .files-actions a:hover {
    color:#0077cc;
 }
 .files-actions fieldset {
    margin-bottom:5px;
 }
 
 
 div.document-list {margin:0;padding-left:0px;list-style:none;line-height:16px}
 
 
 
 .lab-files-container .document-list .document-item + .document-item {margin-top: 5px;}
 .lab-files-container .document-list .document-item:last-of-type {margin-bottom: 5px;}
 
 .lab-files-container .document-list .document-item {
     max-width: 500px;
 }
 .lab-files-container .document-list .document-item .document-item-inline-display {
    display:flex; 
    flex-direction:row; 
    justify-content:space-between; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    /* border-bottom: 1px dashed silver; */
    line-height:16px;
}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-icon {flex: 0 0 auto;width:18px;}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-name {flex: 1 1 auto;margin-left: 5px;padding:2px 5px 2px 0;}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-menu {
    flex: 0 0 auto;
    border-left:1px solid #ddd;
    width:18px;
    text-align:center;
    background-image:url(../Images/Icons/more-options.black.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size:18px;position:relative;
}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-menu:hover{background-image:url(../Images/Icons/more-options.white.png);background-color:#1570a6}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-menu .click-target {position:absolute;bottom:0;top:0;left:0;right:0;}
 
 .lab-files-container .document-list .document-item.file-item .document-item-inline-display .document-item-icon{background:url(../Images/paperclip.png) no-repeat 2px 46%;}
 .lab-files-container .document-list .document-item.expected-mail-item .document-item-inline-display .document-item-icon{background:url(../Images/send-mail.png) no-repeat 2px 46%;}
 .lab-files-container .document-list .document-item.physical-document-item .document-item-inline-display .document-item-icon{background:url(../Images/page.text.png) no-repeat 2px 46%;}
 
 
 .lab-files-container .document-list .document-item .note {color:#666;font-style:italic;padding:3px 5px 5px 5px;}
 