.lab-expected-supplement{
    margin-bottom: 20px;
    border: 1px solid #aaa;
}
.lab-files-container{
    padding: 10px 10px 0;
}
.lab-no-files{
    font-style:italic;
    font-size:10px;
    padding-bottom:6px
}
.lab-conversation-panel{
    background: #f4f4f4;
    /* border-top: 1px solid #aaa; */
    border: none;
    font-size: 10px;
    max-width: 500px;
    margin-bottom: 10px;
}
.lab-conversation-panel.middle{
    border: none;
    font-size: 10px;
    max-width: 500px;
}
.lab-header-name{
    display: inline-block;
}
.lab-header-name h4{
    font-size: 16px;
}    
.lab-header-status{
    float:right
}
.lab-header-status-text{
    font-variant: small-caps;
}
.lab-expected-supplement-settings{
    margin-bottom: 5px;
    /* border-top: 1px solid #ddd; */
    /* padding-top: 5px; */
}
.lab-conversation{
    max-width: 500px;
    padding: 5px 10px 5px 10px
}
.lab-conversation-message{
    display: flex;
}
.speech-bubble {
    margin-left: 20px;
    background: white;
    position: relative;
    padding: 4px 8px;
    margin: 4px 0px;
    border-radius: 10px;
    color:black;
    display:inline-block;
    border: 1px solid #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.speech-bubble:hover {
    border: 1px solid #0077cc;
}
.lab-warning {
    background: #fffbf2;
    border: 1px solid #fffbf2;
    color: #cc9600
}
.speech-bubble.inactive {
    /* color: gray; */
}    
.left-arrow{
    border: 6px solid transparent;
    border-right-color: #ddd;
    border-left: 0;
    height: 0px;
    margin-top: 13px;
}
.right-arrow{
    border: 6px solid transparent;
    border-left-color: #ddd;
    border-right: 0;
    height: 0px;
    margin-top: 13px;
}
.lab-conversation-button{
    margin-top:6px;
    margin-left:6px;
}
.lab-conversation-sender{
    display: inline-block;
    min-width: 55px;
    text-align: center;
    background: white;
    border: 1px solid #ddd;
    padding: 4px 8px;
    margin: 4px 4px 4px 0;
    border-radius: 10px;
    font-style: italic;
    color:black;
}
.lab-open{
       
}
.lab-open-status{
    font-variant: small-caps;
    display: inline-block;
    position: relative;
}
.lab-open-status-icon{
    display: inline-block;
    width: 22px;
    position: absolute;
    top: -1px;
}
.lab-open-status-text{
    padding-left: 26px;
}
.lab-button{
    margin: 4px 0;
    display: inline-block;
}
.lab-button.hidden{
    visibility: hidden;
    display: none;
}    
.lab-button-text{
    display: inline-block;
}
.lab-separator{
    display: inline-block;
    width: 1px;
    height: 16px;
    margin-bottom: -4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.lab-arrow{
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 2px;
    border-radius: 1px;
    transform: rotate(45deg) translateY(2px);
    -webkit-transform: rotate(45deg);
}
.rolldown-button{
    border-top: solid #FFF 1px;
    padding-top: 4px;
    margin-top: 6px;
    display: none;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 420px;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}










.lab-files-container .files-cell {
    position:relative;
 }
 .lab-files-container .header {background-color:#ffffd0;border-bottom:1px solid #aaa;padding:5px;}
 .lab-files-container .header .name {font-weight:bold;font-size:13px;color:#000;}
 .lab-files-container .header .name span.extended-supplement-date {font-size:11px;margin-left:10px;color:#666;font-style:italic;}
 .lab-files-container .header .links {float:right;color:#000;}
 .lab-files-container .header .links a {color:#222;}
 .lab-files-container .content {padding:5px;}
 .lab-files-container .content .info {padding:10px 5px 5px 5px;display:inline-block;vertical-align:top;}
 
 .lab-files-container .content .files {padding:10px 5px 5px 5px;}
 
 .files-actions {
    font-size:11px;
    margin-bottom:3px;
 }
 .files-actions a {
    color:#999;
 }
 .files-actions a:hover {
    color:#0077cc;
 }
 .files-actions fieldset {
    margin-bottom:5px;
 }
 
 
 div.document-list {margin:0;padding-left:0px;list-style:none;line-height:16px}
 
 
 
 .lab-files-container .document-list .document-item + .document-item {margin-top: 3px;}
 .lab-files-container .document-list .document-item:last-of-type {margin-bottom: 5px;}
 
 .lab-files-container .document-list .document-item {
     max-width: 500px;
 }
 .lab-files-container .document-list .document-item .document-item-inline-display {display:flex; flex-direction:row; justify-content:space-between; border: 1px solid #ddd; border-radius: 4px;line-height:16px;}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-icon {flex: 0 0 auto;width:18px;}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-name {flex: 1 1 auto;margin-left: 5px;padding:2px 5px 2px 0;}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-menu {flex: 0 0 auto;border-left:1px solid #ddd;width:18px;text-align:center;background-image:url(../Images/Icons/more-options.black.png);background-repeat: no-repeat; background-position: center;background-size:18px;position:relative;}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-menu:hover{background-image:url(../Images/Icons/more-options.white.png);background-color:#1570a6}
 .lab-files-container .document-list .document-item .document-item-inline-display .document-item-menu .click-target {position:absolute;bottom:0;top:0;left:0;right:0;}
 
 .lab-files-container .document-list .document-item.file-item .document-item-inline-display .document-item-icon{background:url(../Images/paperclip.png) no-repeat 2px 46%;}
 .lab-files-container .document-list .document-item.expected-mail-item .document-item-inline-display .document-item-icon{background:url(../Images/send-mail.png) no-repeat 2px 46%;}
 .lab-files-container .document-list .document-item.physical-document-item .document-item-inline-display .document-item-icon{background:url(../Images/page.text.png) no-repeat 2px 46%;}
 
 
 .lab-files-container .document-list .document-item .note {color:#666;font-style:italic;padding:3px 5px 5px 5px;}
 