.lab-header-name{
    display: inline-block;
}
.lab-header-name h4{
    font-size: 16px;
}    
.lab-header-status{
    float:right
}
.lab-header-status-text{
    font-variant: small-caps;
}
.lab-expected-supplement-settings{
    margin-bottom: 5px;
    /* border-top: 1px solid #ddd; */
    /* padding-top: 5px; */
}
.lab-conversation{
    max-width: 500px;
}
.lab-conversation-message{
    display: flex;
}
.speech-bubble {
    flex: 1 1 auto;
    margin-left: 20px;
    background: #f7fbff;
    position: relative;
    padding: 4px 8px;
    margin: 4px 0px;
    border-radius: 10px;
    color:black;
    display:inline-block;
    border: 1px solid #0077cc;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.speech-bubble:hover {
    border: 1px solid #0077cc;
}
.speech-bubble.warning {
    background: #fffbf2;
    border: 1px solid #fffbf2;
    color: #cc9600
}
.speech-bubble.inactive {
    color: gray;
}    
.speech-bubble.left-arrow::after {
    left: 0;
    top: 50%;
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-right-color: #0077cc;
    border-left: 0;
    margin-top: -6px;
    margin-left: -7px;
}    
.speech-bubble.right-arrow::after {
    right: 0;
    top: 50%;
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-left-color: #0077cc;
    border-right: 0;
    margin-top: -6px;
    margin-right: -7px;
}
.lab-conversation-applicant{
    display: inline-block;
    border: 1px solid #9c7008;
    padding: 4px 8px;
    margin: 4px 0px;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    color:grey;
}
.lab-conversation-school{
    display: inline-block;
    border: 1px solid #9c7008;
    padding: 4px 8px;
    margin: 4px 0px;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    color:grey;
}
.lab-open{
       
}
.lab-open-status{
    font-variant: small-caps;
    display: inline-block;
    position: relative;
}
.lab-open-status-icon{
    display: inline-block;
    width: 22px;
    position: absolute;
    top: -1px;
}
.lab-open-status-text{
    padding-left: 26px;
}
.lab-button{
    margin: 4px 0;
    display: inline-block;
}
.lab-button.hidden{
    visibility: hidden;
    display: none;
}    
.lab-button-text{
    display: inline-block;
}
.lab-separator{
    display: inline-block;
    width: 1px;
    height: 16px;
    margin-bottom: -4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.lab-arrow{
    border: solid #FFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 2px;
    border-radius: 1px;
    transform: rotate(45deg) translateY(2px);
    -webkit-transform: rotate(45deg);
}
.rolldown-button{
    border-top: solid #FFF 1px;
    padding-top: 4px;
    margin-top: 6px;
    display: none;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 420px;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}